- content = partial('table/content')

%tr(class=color)
  %td.variant3= content
  %td.base-color(rowspan=2)= content
  %td.variant1= content
%tr(class=color)
  %td.variant4= content
  %td.variant2= content
